.top-nav{
    width: 100%;
    height: 92px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0px;
    z-index: 300;
    padding-left: 80px;
    transition: 0.3s;
}
.left-logo{
    float: left;
    height: 46px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: white;
    width: 140px;
    line-height: 46px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    border-left: 5px solid #18d26e;
}
.right-nav{
    float: right;
    margin-right: 30px;
    color: white;
    height: 100%;
}
.right-nav ul{
    padding:0px;
    margin:0px;
    height: 100%;
}
.right-nav li{
    float: left;
    margin-left:10px;
    list-style: none;
    height: 100%;
}
.right-nav li a{
    padding-right: 8px;
    padding-left: 8px;
    height: 100%;
    line-height: 52px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}
.nav-active{
    color: #18d26e!important;
}
.right-nav li a:hover{
    color: #18d26e;
}
/* 尾部 */
.footer{
    background: black;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
}
.footer ul{
    width: 100%;
    padding:0px;
    margin:0px;
}
.footer ul li{
    list-style: none;
    float: left;
    width: 16.6%;
    text-align: center;
    border-right: 1px solid #828282;
}
.footer ul li span{
    display: block;
    color: #828282;
    font-size: 12px;
    margin:0 auto;

}
.footer ul li a{
    color: white;
    transition: 0.3s;
}
.fix-1{
    border-right: none!important;
}
.footer ul li a:hover{
    color: #18d26e;
}
.footer p{
    color: #636262;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    margin-top: 40px;
}
.nav-scroll{
    padding-top: 5px!important;
    padding-bottom: 0px!important;
    background: black!important;
    height: 62px!important;
}
a:hover{
    text-decoration: none;
}














.clearfix:before,
.clearfix:after{
	content:"";
	display:table;

}
.clearfix:after{
	clear:both;
}